img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid;
}
body {
    text-align: center;
    font-family: 'arial';
    background: lightgreen;
    color: black;
    flex-direction: column;
}

h1 {
    font-family: 'Verdana';
}

h2 {
    font-family: 'Verdana';
    color: blue;
    
}
footer {
  postion; fixed;
  bottom: 0;
  text-align: center;
  padding: 20px;
  background-color: rgb(73, 227, 241);
  color: rgb(0, 0, 0);
  font-family: 'Bitcount Grid Single', sans-serif;
}
topnav {
  text-align: center;
  padding: 10px;
  background-color: rgb(73, 227, 241);
  color: rgb(0, 0, 0);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: lightblue;
  transform: scale(2); 
  cursor: pointer;
}
